





















/* ol {
  margin: 0;
  padding: 0;
} */

/* li { */
  /* align-items: flex-start; Garante alinhamento vertical */
  /* margin-bottom: 20px; Espaço entre os itens da lista */
/* } */
/* ul {
  margin: 0; /* Remove margem padrão */
  /* padding-left: 20px; Recuo para alinhar */
/* } */

/* ul li {
  /* list-style-type: disc; Marca da lista */
  
/* }  */